@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Roboto:wght@300&family=Ubuntu:wght@500&family=Work+Sans:ital,wght@1,200;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif; */



/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif; */


.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px rgb(58, 55, 55);
  --webkit-box-shadow: 0 8px 6px -6px rgb;
  border-bottom: 0.5px;
  gap: 5%
}

.nav-link {
  font-weight: 300px;
}

.active{
  border-bottom: 1px solid black;
  border-radius: 5px;
}