@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Roboto:wght@300&family=Ubuntu:wght@500&family=Work+Sans:ital,wght@1,200;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* page npt pund */
.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pnf-title{
  font-size: 100px;
  font-weight:700;
}
.pnf-heading{
  font-weight: normal
}
.pnf-btn{
  color: black;
  padding: 10px;
  background-color: rgb(214, 125, 125);
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid blue;
  margin-top: 10px;
}




/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif; */



/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif; */


.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px rgb(58, 55, 55);
  --webkit-box-shadow: 0 8px 6px -6px rgb;
  border-bottom: 0.5px;
  gap: 5%;
  background: 
  /* linear-gradient(rgba(247, 42, 42, 0.4) 0 0), */
  /* radial-gradient(rgb(156, 59, 59) 20%, transparent 16%),  */
  radial-gradient(rgb(98, 7, 7) 15%, transparent 16%) 30px 30px,
  rgb(214, 174, 63);
background-size: 71px 71px;

}

.nav-link {
  font-weight: 300px;
}

.active{
  border-bottom: 2px solid rgb(218, 117, 117);
  border-radius: 5px;
  
  
}


.navbar-brand{
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
  background: 
    linear-gradient(#48B 0 0) bottom/100% 25vh no-repeat fixed,
    linear-gradient(rgba(192,192,192,0.4) 0 0),
    radial-gradient(dimgrey 20%, transparent 16%) 0    0   /60px 60px, 
    radial-gradient(dimgrey 15%, transparent 16%) 30px 30px/60px 60px,
    goldenrod;
    background-size: 85px 85px;
    border-radius: 7px;
}


.container-fluid{
 padding-top: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

/* footer */

.footer{
  background-color: black;
color:white;
padding:26px;
--webkit-box-shadow: 0 8px 6px -6px rgb;

}


.footer a {
  text-decoration: none;
  color: wheat;
  padding: 10px;
  text-align: center;
}

.footer a:hover{
  color: rgb(81, 216, 43);
  border-bottom: 2px solid rgb(242, 250, 13);
  border-radius: 5px;
}






/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* register page */

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

.product-link{
  text-decoration: none;
  color: black !important;
}

/* .img{
  width:10px;
  height:10px
} */


.home_1{
  display: flex;
  border: 1px solid red;

}